<html>
<head>
    <title>Postos de Saúde Próximos</title>
    <meta charset="utf-8">
    <meta author="Alexandre Miguel de Andrade Souza">
      <style>
      html, body {
          background-color:black;
          color: #a26208;
      }
      .ocre{
          background-color: #a26208;
          color:black;
          margin-top:-19px;
          margin-left:-10px;
          margin-right:-10px;
          padding: 4px;
      }
      a{
          color:#1cb5d5;
      }
    </style>
</head>
<body>
<div class="ocre">
<h3>Postos de Saúde Próximos</h3>
</div>
<p>Escolha o método:</p>

<a href="{{=URL(r=request,c='default',f='geolocation')}}" > Automático (GPS ou navegador)</a><br>
<a href="{{=URL(r=request,c='default',f='endereco')}}" " > Quero digitar um endereço ou local</a>
<br>
<br>
<h4 class="ocre">Ajuda</h4>
<p>Este site permite localizar de forma simples postos de saúde no Brasil próximos a um local.</p>
<p>Nós utilizamos <a href="http://repositorio.dados.gov.br/saude/unidades-saude/unidade-basica-saude/ubs.csv" > Informações das Unidades Básicas de Saúde</a> do site <a href="http://dados.gov.br">Dados Abertos</a> do Governo Federal </p>
<p> A opção Automático requer GPS ou um navegador capaz de identificar sua localização.</p>
<p>A opção "Quero digitar um endereço ou local" permite que você localize postos de saúde apenas informando rua, bairro e\ou cidade.</p>
<p>Ele foi feito de forma intencionalmente simples para ser acessado por smartphones e tables, além de navegadores web.</p>
<p>A lógica do site é de mostrar pelo menos cinco postos de saúde próximos ao local identificado.
    Se quiser encontrar mais postos de saúde na região, navegue pelo mapa, identifique uma nova rua, bairro ou cidade, volte ao início e faça uma busca por endereço.</p>
<hr>
Desenvolvido por Alexandre Miguel de Andrade Souza <br>
Licença <a href="http://www.gnu.org/licenses/agpl-3.0.html" > Affero GPLv3 </a><br>
Código-fonte: <a href="https://bitbucket.org/hipercenter/postosdesaudeproximos" > Bitbucket </a><br>

</body>
</html>