

<!DOCTYPE html>
<html>
  <head>
    <title>Geolocation</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
         .ocre{
          background-color: #a26208;
          color:black;
          margin-right:-10px;
          padding: 1px;
      }
      a{
          color:black;
      }

    .gray th, .gray td {
        background: lightgrey;
        color: black;
        border-color: white;
        border-style: solid;
        border-width: 1px;
        padding: 5px;
    }

    </style>
    <!--
    Include the maps javascript with sensor=true because this code is using a
    sensor (a GPS locator) to determine the user's location.
    See: https://developers.google.com/maps/documentation/javascript/tutorial#Loading_the_Maps_API
    -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>

    <script>
// Note: This example requires that you consent to location sharing when
// prompted by your browser. If you see a blank space instead of the map, this
// is probably because you have denied permission for location sharing.

var map;

function initialize() {
  var mapOptions = {
    zoom: {{=level}},
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

      var pos = new google.maps.LatLng({{=request.args(0)}},
              {{=request.args(1)}});

      var infowindow = new google.maps.InfoWindow({
        map: map,
        position: pos,
        content: 'Local informado ou detectado.'
      });


      map.setCenter(pos);
    var iw = new google.maps.InfoWindow();

    var marker, i;
    {{=XML(loc)}}
    for (i = 0; i < locations.length; i++) {
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });
    };
}

function handleNoGeolocation(errorFlag) {
  if (errorFlag) {
    var content = 'Error: The Geolocation service failed.';
  } else {
    var content = 'Error: Your browser doesn\'t support geolocation.';
  }

  var options = {
    map: map,
    position: new google.maps.LatLng(-19, -43),
    content: content
  };


  var infowindow = new google.maps.InfoWindow(options);
  map.setCenter(options.position);
}

google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  </head>
  <body>
        <div class="ocre">
<h4>       <a href="{{=URL(r=request,f='index')}}">Postos de Saúde Próximos</a></h4>
       </div>
   <table class="gray">

       <tr>
           <th>Nome</th><th>Endereço</th><th>Cidade</th>
       </tr>
    {{for posto in lista:}}
    <tr><td>{{=posto.nome}}</td><td>{{=posto.endereco}}</td><td>{{=posto.cidade}}</td></tr>
    {{pass}}
    </table>
    <div id="map-canvas"></div>
  </body>
</html>

